@import 'setup';
html {
    font-size: 18px;
}

body {
    background-image: url(../assets/food.png);
}
.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}
header {
    text-align: center;

    span {
        display: block;
    }
    h1{
        margin: 30px 0;
        font-family: 'Lobster', cursive;
        font-size: 5rem;
        color: #F22B29;
        backdrop-filter: sepia(0.5)
    }
}


form {
    padding: 20px;
    text-align: center;
    backdrop-filter: sepia(0.5);
    margin-bottom: 50px;;
    
    input{
        padding: 10px;
        display: block;
        width:50%;
        margin: 10px auto;
        border: transparent;
    }
    label{
        display: block;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        color: #54494B;
    }
    button{
        margin-top:10px;
        width: 25%;
        height: 50px;
        font-family: 'Lobster', cursive;
        font-size: 2rem;
        color: #54494B;
        background-color: #EF8354;
        border: transparent;
    }
}

.restaurantList{ 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    width: auto;
    transition: width 2s;

    div {
        backdrop-filter: sepia(0.5)
    }
    
    .restaurantWrapper {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .restaurantInfo {
        padding:15px;
    }

    .imageWrapper {
        overflow: hidden;
        position: relative;
    }
    
    .imageWrapper p {
        position: absolute;
        top:50%;
        left:50%;
        transform: translateX(-50%) translateY(-50%);
        font-family: 'Open Sans', sans-serif;
        color:white;
        display: none;
    }

    .imageWrapper:hover p {
        display: block;
    }

    .fa-drumstick-bite {
        font-size: 3rem;
        color: #30C16D;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height:100%;
        width:100%;
    }

    .imageWrapper:hover img {
        filter: blur(5px) grayscale(1) brightness(50%);
    }

    h2 {
        a{
        font-family: 'Lobster', cursive;
        font-size: 2rem;
        color: #F22B29;
        text-align: center;
        }
    }

    .fa-star {
        color: #EF8354;
    }

    .fa-dollar-sign {
        color: #30C16D;
    }


    span, h3 {
        font-family: 'Open Sans', sans-serif;
        color: #54494B;
        size: 1rem;
        display: block;
        padding: 5px 0;
    }
}