@import 'setup';

html {
    font-size: 18px;
}

body {
    background-image: url(../assets/food.png);
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    text-align: center;

    span {
        display: block;
    }

    h1{
        margin: 30px 0;
        font-size: 5rem;
        color: #F22B29;
        font-family: 'Lobster', cursive;
        background-color: rgba(255, 218, 143, 0.3);
    }
}

form {
    padding: 20px;
    margin-bottom: 50px;;
    background-color: rgba(255, 218, 143, 0.3);
    text-align: center;
    
    input {
        display: block;
        width:50%;
        padding: 10px;
        margin: 10px auto;
        border: transparent;
    }

    label {
        display: block;
        color: #54494B;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }

    button {
        width: 25%;
        height: 50px;
        margin-top:10px;
        color: #54494B;
        background-color: #EF8354;
        font-family: 'Lobster', cursive;
        font-size: 2rem;
        border: transparent;
    }
}

.restaurantList { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 10px;

    div {
        background-color: rgba(255, 218, 143, 0.3);
    }
    
    .restaurantWrapper {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .restaurantInfo {
        padding:15px;
    }

    .imageWrapper {
        position: relative;
        overflow: hidden;
    }
    
    .imageWrapper p {
        position: absolute;
        top:50%;
        left:50%;
        transform: translateX(-50%) translateY(-50%);
        display: none;
        color:white;
        font-family: 'Open Sans', sans-serif;
        line-height: 1.5;
    }

    .imageWrapper a:hover {
        cursor: default;
    }

    .imageWrapper:hover p, .imageWrapper a:focus + p {
        display: block;
    }

    .fa-drumstick-bite {
        color: #30C16D;
        font-size: 3rem;
    }

    img {
        display: block;
        width:100%;
        height:100%;
        margin-left: auto;
        margin-right: auto;
    }

    .imageWrapper:hover img, .imageWrapper a:focus img {
        filter: blur(5px) grayscale(1) brightness(50%);
    }

    h2 {
        a {
            color: #F22B29;
            font-family: 'Lobster', cursive;
            font-size: 2rem;
            text-align: center;
            text-decoration: none;
        }
        a:hover, a:focus {
            color:#54494B;
        }
    }

    .fa-star {
        color: #EF8354;
    }

    .fa-dollar-sign {
        color: #30C16D;
    }


    span, h3 {
        display: block;
        padding: 5px 0;
        color: #54494B;
        font-family: 'Open Sans', sans-serif;
        size: 1rem;
    }
}
@import './mediaQueries'
